.App {
  text-align: center;
}

.outerdiv {
  border: solid black 5px;
  background-color: rgb(0,109,119);
  width: 45%;
  margin: 10px;
  padding: 15px
}

#header {
  border: solid black 3px;
}

.purchased {
  border: solid black 3px;
  background-color: rgb(131,197,190);
  text-align: left;
}

.form {
 border: solid black 3px;
 font-family: georgia, serif;
}

.field {
  background-color: rgb(131,197,190);
  margin: 10px;
}

.button {
  outline: none;
  margin: 5px;
  border: 0;
  border-radius: .25em;
  background: rgb(131,197,190);
  cursor: pointer;
  padding: .4em .8em;
  text-rendering: optimizeLegibility;
  font-size: inherit;
  font-family: inherit;
  font-weight: 300;
  color: inherit;
  box-shadow: 0 .2em #888;
  -webkit-transform: translateY(-.2em);
  -moz-transform: translateY(-.2em);
  transform: translateY(-.2em)
}

.button:hover,
.button.hover{
  background: rgb(0,109,119)
}

.button:active,
.button.active{
  box-shadow: none;
  background: rgb(237,246,249);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0)
}